/**
 * Visually hide content but keep accessible to screen readers.
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.u-hide-visually {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/**
 * Lock the scroll position by adding this class to the `<html>` element.
 */
.u-lock-scroll {
  overflow: hidden !important;
}
